@{
    ViewData["Title"] = "Listagem";
}
@model List<ContatoTable>

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Descobrir Sua Idade!</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Inverter">Inverter Palavras!</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Cotacao">Cotacao Dolar</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="CriarUsuario">Cadastrar usuarios </a>

</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col">Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
            foreach (ContatoTable item in Model)
            {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Celular</td>
            <td>@item.DataDeNascimento.Day/ @item.DataDeNascimento.Month/ @item.DataDeNascimento.Year</td>

        </tr>
            }
        
    </tbody>
</table>